* {
    margin: 0;
    padding: 0;
}

.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.heading {
    width: 100vw;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

h1 {
    font-weight: 500;
    padding-top: 20px;
    color: #1f78b4;
}

.author {
    padding-top: 10px;
    /* padding-bottom: 20px; */
    font-size: 20px;
}

.outline {
    bottom: 0;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 25px;
    z-index: 4;
    align-self: flex-start;
    background-color: #1f78b4;
    order: 1;
}

.flourish-embed {
    width: 70vw;
}

.article {
    padding-top: 50px;
    width: 40vw;
    padding-bottom: 100px;
    font-size: 20px;
    z-index: 1;
}

.comment {
    font-weight: 400;
}

hr {
    width: 40vw;
}

a {
    text-decoration: underline;
    color: #a1a1a1;
}

.flourish {
    color: 000000;
}

p {
    font-weight: 300;
}

h4 {
    padding-top: 20px;
    font-weight: 500;
}

hr {
    border: 1px solid black;
}

.github {
    color: #1f78b4;
}

.sign {
    font-weight: 400;
}